
# Compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/

# Django
*.log
*.log.jsonl
db.sqlite3
images/
staticfiles/

# IDEs & Editors
.vscode/
veggie-vault.code-workspace

# Environment & secrets
.env

# Others
Django-React-Full-Stack-App/
frontend/
upcoming features/
Backend/api
dump.rdb
try_programs/
