
# Compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/

# Django
*.log
*.log.jsonl
db.sqlite3
images/
staticfiles/

# IDEs & Editors
.vscode/

# Environment & secrets
.env

# Others
testing_data/
Django-React-Full-Stack-App/
frontend/
stop
upcoming features/
veggie-vault.code-workspace
Backend/api
zp1.py
check the code.py
check.py
make change.txt
dump.rdb
try_programs
Extension
